/* add hovers in the end */
/* edit the footers in the end */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit';
    background-color: var(--very-dark-blue-main-BG);
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.container {
    background-color: var(--very-dark-blue-card-BG);
    max-width: 275px;
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 15px;
    box-shadow: 
        0px 20px 5px 10px rgba(0 0 0 / 10%),
        0px 15px 5px 40px rgba(0 0 0 / 5%);
}

.img {
    margin: 0;
    position: relative;
}

.main-img {
    width: 100%;
    border-radius: 10px;
}

.container h1 {
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
}

.container h2 {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 16.5px;
    margin: 0 0 24px 0;
}

.infos {
    margin: 0 0 20px 0;
    position: relative;
}

.ethereums {
    display: inline-block;
}

.ethereums img {
    width: 10px;
    display: inline-block;
    margin-right: 6px;
    translate: 0 2px;
}

.ethereums h3 {
    color: var(--cyan);
    font-weight: 600;
    font-size: 14.5px;
    display: inline-block;
    margin: 0;
}

.time {
    display: inline-block;
    position: absolute;
    right: 0;
}

.time img {
    width: 15px;
    display: inline-block;
    margin-right: 4px;
    translate: 0 2.5px;
}

.time h3 {
    color: var(--soft-blue);
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin: 0;
}

hr {
    background-color: var(--very-dark-blue-line);
    border: 0;
    height: 0.5px;
    margin: 0 0 15px 0;
}

.avatar {
    margin: 0 0 5px 0;
}

.avatar img {
    display: inline-block;
    width: 30px;
    margin-right: 15px;
    border-radius: 100%;
    border: 1px solid var(--white);
}

.avatar h4 {
    display: inline-block;
    margin: 0;
    translate: 0 -50%;
    font-size: 14px;
    font-weight: 300;
}

.avatar h4:first-of-type {
    color: var(--soft-blue);
}

.avatar h4:last-of-type {
    color: var(--white);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.eye-icon {
    background-color: var(--cyan);
    opacity: 0;
}

.eye-icon img {
    position: absolute;
    width: 15px;
    height: auto;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}